@echo off
setlocal enabledelayedexpansion

:: Auto-detect text files and perform LF normalization
findstr /R /N "^" "%_FILE%" > "%~n1.txt"
for /F "tokens=1* delims=:" %%A IN ('findstr /R /N "^" "%~n1.txt"') do (
    set "line=%%B"
    if not "!line!"=="" (
        set "line=!line:^M=!"
        if "!line!" neq "%%B" (
            echo(!line!>>"%~n1.tmp"
        ) else (
            echo(!line!>>"%~n1.txt"
        )
    )
)
del "%~n1.txt" > nul
move /Y "%~n1.tmp" "%~n1.txt" > nul

:: List of file extensions to include in LF normalization
set "exts=asm ax bat cmd c cpp h idl log properties resources settings site
map sln suo tlh tmp txt url htm html inf inf res xml def dat db description
diz embed ini""

:: Check if the file has any of the included extensions
for %%x in (!exts!) do (
    if /I "!file_ext!"=="%%x" (
        call :LF_normalization
        goto :end
    )
)

:end
endlocal
goto :eof

:LF_normalization
:: Set CHCP to UTF-8 to support UTF-8 characters
chcp 65001 > nul

:: Perform LF normalization on the file
for %%A in ("%_FILE%") do (
    move "%%~A" "%%~nA.tmp" > nul
    findstr /R /N "^" "%%~nA.tmp" > "%%~nA.txt"
    for /F "tokens=1* delims=:" %%A in ('findstr /R /N "^" "%%~nA.txt"') do (
        set "line=%%B"
        if not "!line!"=="" (
            set "line=!line:^M=!"
            if "!line!" neq "%%B" (
                echo(!line!>>"%%~nA.tmp"
            )
        )
    )
    del "%%~nA.txt" > nul
    move "%%~nA.tmp" "%%~A" > nul
)

:: Reset CHCP to the previous code page
chcp %1 > nul
goto :eof
