// filepath: /C:/Users/allie/Desktop/CODES/aisite/.gitignore
# Ignore virtual environment directories
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
*.sqlite3

# Ignore environmental variables files
.env

# Ignore node modules
node_modules/

# Ignore system files
*.DS_Store
Thumbs.db