asgiref==3.8.1
beautifulsoup4==4.14.3
bleach==6.3.0
certifi==2026.1.4
charset-normalizer==3.4.4
coverage==7.13.1
defusedxml==0.7.1
Django==4.2.30
django-theme-material-kit==1.0.18
django-environ
idna==3.11
MarkupSafe==3.0.3
openai==1.58.1
packaging==25.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyPDF2==3.0.1
pytest==9.0.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
requests==2.32.5
six==1.17.0
soupsieve==2.8.1
sqlparse==0.5.2
str2bool==1.1
tinycss2==1.4.0
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.6.3
webencodings==0.5.1
whitenoise==6.6.0
