{% extends 'layouts/base_background.html' %}
{% load static %}

{% block body %} class="index-page bg-gray-200"{% endblock body %}

{% block content %}



</div></div></div>
<div class="container-fluid pt-3 pb-3">
  <div class="row">
    <div class="col-md-6">
      <div id="calendar"></div>

        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth'
            });
            calendar.render();
          });
        </script>
          <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>

  </div>
  <div class="col-md-6">
      <h2>Add Event</h2>
        <form>
          <label for="eventTitle">Event Title:</label>
          <input type="text" id="eventTitle">
          <br>
          <label for="eventDate">Event Date:</label>
          <input type="date" id="eventDate">
          <br>
          <label for="eventTime">Event Time:</label>
          <input type="time" id="eventTime">
          <br>
          <label for="eventLocation">Event Location:</label>
          <input type="text" id="eventLocation">
          <br>
          <input type="submit" value="Add Event">
        </form>
  </div>
</div>
</div>


{% endblock %}