{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

{% block body %} class="bg-gray-200" {% endblock body %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card card-plain">
        <div class="card-header pb-0 text-center">
          <h4 class="font-weight-bolder">Password Reset Complete</h4>
        </div>
        <div class="card-body text-center">
          <p>Your password has been set. You can now go ahead and sign in.</p>
          <a href="{% url 'home:login' %}" class="btn bg-gradient-primary mt-3">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
