{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %}Enter New Password{% endblock title %}

{% block body %} class="bg-gray-200" {% endblock body %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card card-plain">
        <div class="card-header pb-0 text-start">
          <h4 class="font-weight-bolder">Set New Password</h4>
        </div>
        <div class="card-body">
          {% if validlink %}
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post">
              {% csrf_token %}
              {% if form.errors %}
                <div class="alert alert-danger text-white" role="alert">
                  <strong>Errors:</strong>
                  <ul>
                    {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                        <li>{{ field|capfirst }}: {{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <div class="input-group input-group-outline my-3 {% if form.new_password1.value %}is-filled{% endif %}">
                <label class="form-label">New password</label>
                <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
              </div>
              {% if form.new_password1.help_text %}
                <p class="form-text text-muted small">{{ form.new_password1.help_text|safe }}</p>
              {% endif %}

              <div class="input-group input-group-outline my-3 {% if form.new_password2.value %}is-filled{% endif %}">
                <label class="form-label">Confirm new password</label>
                <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
              </div>
              {% if form.new_password2.help_text %}
                <p class="form-text text-muted small">{{ form.new_password2.help_text|safe }}</p>
              {% endif %}

              <div class="text-center">
                <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Change my password</button>
              </div>
            </form>
          {% else %}
            <div class="alert alert-danger text-white" role="alert">
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            </div>
            <div class="text-center">
                <a href="{% url 'home:password_reset' %}" class="btn bg-gradient-secondary mt-3">Request a new password reset</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
