{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock title %}

{% block body %} class="bg-gray-200" {% endblock body %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card card-plain">
        <div class="card-header pb-0 text-center">
          <h4 class="font-weight-bolder">Password Reset Email Sent</h4>
        </div>
        <div class="card-body text-center">
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
          <a href="{% url 'home:welcome' %}" class="btn bg-gradient-secondary mt-3">Return to Welcome Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
